.work-content {
    &__title {
        display: grid;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        color: $mono-47;
        text-transform: uppercase;
        letter-spacing: 2.62px;
        grid-template-columns: auto 1fr;
        margin-right: 10px;
        align-items: center;
        align-self: start;
        grid-column-gap: 10px;

        &:after {
            content: "";
            height: 2px;
            background-color: $mono-47;
            display: block;
        }
    }

    &__body {
        margin-bottom: 100px;
    }

    p {
        margin-block-start: 0;
    }
}