{{ define "main" }}
<div class="work-hero">
    <div class="work-hero__background">
        <img src="{{ .Params.hero_image }}" alt="" />
    </div>
    {{ partial "work-hero.html" . }}
</div>
<div class="container">
    <grid class="work-content" columns="8" columns-s="1">
        <c span="3+6" span-s="row">{{ .Content }}</c>
        {{ range .Params.sections }}
        <c class="work-content__title" span="1+2" span-s="row">
            {{ .title }}
        </c>
        <c class="work-content__body" span="3+6" span-s="row">
            {{ range .body }}<p>{{ . }}</p>{{ end }}
        </c>
        {{ end }}
    </grid>
</div>
<div class="container">
    <a href="/" class="link link--return link--padded">Go home</a>
</div>
{{ end }}