{{ define "main" }}
<main class="main layout--index container">
    <div class="main__page-indicator">{{ .Params.page_number }}.</div>
    <div class="intro-content">
        {{ .Content }}
    </div>
    <section class="section">
        <div class="homepage-section">
            <div class="homepage-section__header">
                <h3 class="homepage-section__title">Work.</h3>
                <span class="homepage-section__counter">01</span>
            </div>
            <div class="homepage-section__content">
                <ul class="list--none">
                    <li class="work-item">
                        <p class="work-item__client">Promontech</p>
                        <p class="work-item__tagline">Style code and UI architecture for the future of digital
                            home-buying.</p>
                    </li>
                    <li class="work-item">
                        <p class="work-item__client">Digital Continuum</p>
                        <p class="work-item__tagline">A framework for digital delivery for enterprise companies.</p>
                    </li>
                    <li class="work-item">
                        <p class="work-item__client">Absolute Merch</p>
                        <p class="work-item__tagline">Slick, responsive, and animated solutions for a music e-commerce
                            platform.</p>
                    </li>
                </ul>
                <a href="#" class="link link--view-all">View All</a>

            </div>
        </div>
        <div class="homepage-section">
            <div class="homepage-section__header">
                <h3 class="homepage-section__title">Experience.</h3>
                <span class="homepage-section__counter">02</span>
            </div>
            <div class="homepage-section__content">
                <ul class="list--none">
                    <li class="experience-item">
                        <p class="experience-item__header">
                            <span class="experience-item__role">UI Engineer</span> @
                            <span class="experience-item__company">Promontech</span></p>
                        <span class="experience-item__dates">January 2018 -</span>
                    </li>
                    <li class="experience-item">
                        <p class="experience-item__header"><span class="experience-item__role">Interaction Developer</span>
                            @ <span class="experience-item__company">Universal Mind</span></p>
                        <span class="experience-item__dates">Mar 2016 - Jan 2018</span>
                    </li>
                    <li class="experience-item">
                        <p class="experience-item__header"><span class="experience-item__role">UI Developer</span> @
                            <span class="experience-item__company">GDW</span></p>
                        <span class="experience-item__dates">summer 2015 - mar 2016</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="homepage-section experiments">
            <div class="homepage-section__header">
                <h3 class="homepage-section__title">Experiments &amp; Ideas.</h3>
                <span class="homepage-section__counter">03</span>
            </div>
            <div class="homepage-section__content">
                <ul class="list--arrow-style">
                    <li>A pure SCSS Material Design palette generator</li>
                    <li>SVG
                        <code>&lt;clip-path&gt;</code> to create works of art with CSS.</li>
                    <li>#Codevember: A month of daily creative code micro-projects.</li>
                    <li>Pure CSS isometric towers CSS art.</li>
                    <li>An Alfred 3 package for making your text very ˢᵐᵒˡ.</li>
                </ul>
                <a href="#" class="link link--view-all">View All</a>
            </div>
        </div>
        <div class="homepage-section">
            {{ with .Site.GetPage "/contact" }}
                <div class="homepage-section__header">
                    <h3 class="homepage-section__title">{{ .Params.title }}.</h3>
                    <span class="homepage-section__counter">{{ .Params.page_number }}</span>
                </div>
                <div class="homepage-section__content">
                    {{ .Content }}
                    <ul class="list--none list--social">
                        {{ range .Params.contact_entries  }}
                            <li>
                                <a class="{{ .name }}" href="{{ .url }}">{{ .name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}